doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Black Bird & Co.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/skeleton.css")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="icon", type="image/png", href="assets/images/favicon")
  body
    header.bird-box
      .back-bird
      .logo
      .fore-bird
    section.content
      article
        h1 Unique Style
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
        .clothes-pics
          .row.images__block
            figure.columns.four
              img(src="assets/images/model1.jpg")
              figcaption Casual Blazer ― <strong>$999</strong>
            figure.columns.four
              img(src="assets/images/model2.jpg")
              figcaption Linen Jacket ― <strong>$899</strong>
            figure.columns.four
              img(src="assets/images/model3.jpg")
              figcaption Wind Breaker ― <strong>$576</strong>
          .row.images__block
            figure.columns.four
              img(src="assets/images/model4.jpg")
              figcaption Knit Sweater ― <strong>$349</strong>
            figure.columns.four
              img(src="assets/images/model5.jpg")
              figcaption Suit Refresh ― <strong>$969</strong>
            figure.columns.four
              img(src="assets/images/model6.jpg")
              figcaption The Bomber ― <strong>$822</strong>
          .row.images__block
            figure.columns.four
              img(src="assets/images/model7.jpg")
              figcaption The Polo Refit ― <strong>$399</strong>
            figure.columns.four
              img(src="assets/images/model8.jpg")
              figcaption Relaxed Shirt ― <strong>$1229</strong>
            figure.columns.four
              img(src="assets/images/model9.jpg")
              figcaption Graphic Jersey ― <strong>$599</strong>
        h1 Fine Tayloring
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
        .periscope.fall
          .promo
            .promo__text Fall Suits
              <strong> <span>from</span> $199</strong>
              a(href="#").btn Show Now
        .periscope.autumn
          .promo
            .promo__text Autumn Sweater
              <strong> <span>from</span> $79</strong>
              a(href="#").btn Show Now
        h1 Rich History
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
        .blog-posts.row
          .post.columns.four.post-1
            h5 Collection
            img(src="assets/images/one.jpg")
            p.description Amazing jeans this fall.
            p: a.button(href="#") Read more
          .post.columns.four.post-2
            h5 Shoes & bags
            img(src="assets/images/two.jpg")
            p.description You're gonna love it!
            p: a.button(href="#") Read more
          .post.columns.four.post-3
            h5 Week
            img(src="assets/images/three.jpg")
            p.description Only this crazy week! Hurry up!
            p: a.button(href="#") Read more
    footer
      .row.footer__block
        .columns.three
          strong FIND US ON
          ul
            li: a(href="#") Twitter
            li: a(href="#") Facebook
            li: a(href="#") Pinterest
            li: a(href="#") Instagram
        .columns.three
          strong OTHER SHOPS
          ul
            li: a(href="#") Red Robin
            li: a(href="#") Emerald Eagle
            li: a(href="#") Crimson Crane
            li: a(href="#") Auburn Abbot
        .columns.six
          p <strong>Sign Up for the Newsletter</strong> I do my best to rarely email you about “Clothing Store Black Bird” news,  but can't help myself today.
          form.row
            .columns.eight
              input.u-full-width(type="email", placeholder="Your Email")
            .columns.four
              input.button-primary(type="submit")
    script(src="assets/js/index.js")
